@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root  {
    --color-primary: #1C3B57;
    --color-secundary: #A4C2E0;
    --color-details: #F3F4F6;
    --color-text: #FFFFFF;
    --color-black: #181A18
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.6;
    background: linear-gradient(180deg,var(--color-primary) 0%, var(--color-secundary) 100%);
    color: var(--color-black);
    height: 100%;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

p {
    pointer-events: none;
    font-family: "Inter", sans-serif;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

section {
    margin: 0 5%;
}

header {
    background: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.section-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.content-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.content-menu a {
    color: var(--color-text);
    font-size: 1.2rem;
    transition: all 0.2s linear;
}

.content-menu a:hover{
    color: var(--color-secundary);
    border-bottom: 1.5px solid var(--color-secundary);
}

button {
    display: flex;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-size: 1.1rem;
    transition: 0.2s ease;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #80b4e7;
    color: var(--color-primary);
}

.section-main {
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.container-text{
    text-align: center;
    max-width: 700px;  /* limita o tamanho da linha */
  line-height: 1.6;  /* espaçamento entre linhas */
}

.container-text p {
    font-size: 1.2rem;
}

.container-text h2 {
    font-size: 4rem;
}

.container-testimony-clients{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.card {
    background-color: rgba(28, 59, 87, 0.5);
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    transition: all 0.2s linear;
    width: 25%;
}

.card:hover {
    background-color: #43739a;
    transform: translateY(-5px);
}

.container-button-contact{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 150px;
}

.container-button-contact button{
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

.container-button-contact button:hover{
    background-color: rgba(41, 99, 150, 0.959);
    color: rgba(1, 14, 27, 0.793);
}

.tittles{
    font-size: 3.5rem;
}

footer{
    background-color: var(--color-primary);
    width: 100%;
    height: 400px;
}

.container-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container-footer h2{
    font-size: 2.5rem;
}

.container-footer p{
    margin-top: 50px;
}

.content-links ul{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.content-links a{
    display: flex;
    color: var(--color-text);
    transition: 0.2s linear;
}

.content-links a:hover{
    transform: scale(1.1);
    color: var(--color-secundary);
    border-bottom: 1.5px solid var(--color-secundary);
}




/*PÁGINA DE RESGISTRO - REGISTER PAGE*/

.body-subscribe{
    height: 100vh;
    width: 100vw;
}

.container-main-register{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-background-card{
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 380px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.container-login-register{
    text-align: center;
}

.container-login-register img{
    width: 40px;
    padding: 10px 0;
}

.container-login-register h1{
    color: var(--color-primary);
    font-size: 2.4rem;
}

.container-login-register button{
    margin-top: 20px;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
    font-weight: bold;
}

.container-input input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size:15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0, 0.08);
    outline: none;
    transition: 0.4s;
}

.container-input input:focus{
    box-shadow: 0 0 0 2px #79b5f1;
}

.container-button-register button{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    background: linear-gradient(135deg, var(--color-primary), var(--color-secundary));
    color: var(--color-text);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    justify-content: center;
}

.container-button-register button:hover{
    transform: translateY(-1px);
    background: linear-gradient(135deg, #366d9d, var(--color-secundary));
    box-shadow: 0 8px 20px var(--color-primary);

}

/*TELA MAIOR QUE TABLET*/

@media(min-width:768px) and (max-width:1250px){

.section-bar a{
    display: none;
}

.section-main {
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.section-main img{
    min-width: 40%;
    max-width: 100%;
}

.container-text{
    min-width: 20%;
    max-width: 50%;
}

.container-testimony-clients{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.container-testimony-clients img{
    width: 200px;
}

.card{
    width: auto;
}

}

/*TELA DO TABLET*/

@media (max-width:768px) {

.section-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 60px;
}

.logo{
    font-size: 1.3rem;
}

.content-menu a {
    display: none;
}

button {
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-size: 1.1rem;
    transition: 0.2s ease;
}

.section-main {
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0px;
    flex-direction: column-reverse;
}

.section-main img{
    width: 320px;
}

.container-text h2{
    font-size: 3.5rem;
}

.container-testimony-clients{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.container-testimony-clients img{
    width: 200px;
}

.card{
    width: auto;
}

}

/*TELA DE CELULAR - 600px*/

@media (max-width: 600px){
    
.logo{
    font-size: 1.2rem;
}

.section-main img{
    padding-bottom: 25px;
}

.section-main{
    margin-top: 20%;
}

.container-text h2{
    font-size: 3rem;
}

.card{
    width: auto;
}

}

@media (max-width: 525px){

    .container-testimony-clients{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: column;
    
}

.card{
    margin: 0 5%;
}

}

/*TELA DE CELULAR - 480px*/

@media (max-width:480px){

.section-main{
    margin-top: 20vh;
}

.container-testimony-clients{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: column;
}

.card{
    margin: 0 5%;
}

header button{
    padding: 10px;
}

.container-button-contact h2{
    line-height: 3.1rem;
}

}

@media(max-width: 450px){

header{
    margin-bottom: 60%;
}

.section-main img{
    width: 250px;
}

}


@media(max-width: 360px){

.section-main{
    margin-top: 88%;
}

.section-main img{
    width: 280px;
}

}

@media(max-width: 345px){

.section-main{
    margin-top: 95%;
}

.section-main img{
    width: 250px;
}

}